.button {
    background-color: #800000;
    border: 1px solid #800000;
    display: inline-block;
    width: 75px;
    height: 75px;
    cursor: pointer;
    color: #ffffff;
    font-family: Impact;
    font-size: 28px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 0px;
    user-select: none;
    position: relative;
    text-decoration: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 45%;
}

.game {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    top:280px;
    user-select: none;
    height: 650px;
    width: 100%;
}

.redBack {
    background-color: #800000;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
}

.grayBack {
    background-color: #333333;
    position: absolute;
    margin-top: 230px;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.text {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}